@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: #001135;
}

html::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #FFDE59;
}